<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aaa.xj.mapper.Mapping_unitMapper" >
  <resultMap id="BaseResultMap" type="com.aaa.xj.model.Mapping_unit" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="modify_time" property="modifyTime" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
    <result column="register_address" property="registerAddress" jdbcType="VARCHAR" />
    <result column="register_time" property="registerTime" jdbcType="VARCHAR" />
    <result column="oa" property="oa" jdbcType="VARCHAR" />
    <result column="corporation" property="corporation" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="owned_district" property="ownedDistrict" jdbcType="VARCHAR" />
    <result column="register_fund" property="registerFund" jdbcType="DOUBLE" />
    <result column="social_credit_code" property="socialCreditCode" jdbcType="VARCHAR" />
    <result column="qualification_level" property="qualificationLevel" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="contact_way" property="contactWay" jdbcType="VARCHAR" />
    <result column="used_name" property="usedName" jdbcType="VARCHAR" />
    <result column="register_address_lon" property="registerAddressLon" jdbcType="VARCHAR" />
    <result column="register_address_lat" property="registerAddressLat" jdbcType="VARCHAR" />
    <result column="register_address_postcode" property="registerAddressPostcode" jdbcType="VARCHAR" />
    <result column="oa_postcode" property="oaPostcode" jdbcType="VARCHAR" />
    <result column="oa_area" property="oaArea" jdbcType="DOUBLE" />
    <result column="establish_time" property="establishTime" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="fax_num" property="faxNum" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="surveying_num" property="surveyingNum" jdbcType="INTEGER" />
    <result column="staff_num" property="staffNum" jdbcType="INTEGER" />
    <result column="unit_nature" property="unitNature" jdbcType="VARCHAR" />
    <result column="belong_industry" property="belongIndustry" jdbcType="VARCHAR" />
    <result column="certificate_code" property="certificateCode" jdbcType="VARCHAR" />
    <result column="certificate_send_date" property="certificateSendDate" jdbcType="VARCHAR" />
    <result column="company_type" property="companyType" jdbcType="VARCHAR" />
    <result column="stock_details" property="stockDetails" jdbcType="VARCHAR" />
    <result column="joint_venture" property="jointVenture" jdbcType="VARCHAR" />
    <result column="joint_ch_p" property="jointChP" jdbcType="INTEGER" />
    <result column="joint_ratify_code" property="jointRatifyCode" jdbcType="VARCHAR" />
    <result column="competent_depart" property="competentDepart" jdbcType="VARCHAR" />
    <result column="first_qualification_level" property="firstQualificationLevel" jdbcType="VARCHAR" />
    <result column="first_qualification_date" property="firstQualificationDate" jdbcType="VARCHAR" />
    <result column="qualification_process" property="qualificationProcess" jdbcType="VARCHAR" />
    <result column="organization_code" property="organizationCode" jdbcType="VARCHAR" />
    <result column="unit_type" property="unitType" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="audit_status" property="auditStatus" jdbcType="INTEGER" />
    <result column="unit_code" property="unitCode" jdbcType="VARCHAR" />
    <result column="unit_status" property="unitStatus" jdbcType="INTEGER" />
    <result column="synchronization_status" property="synchronizationStatus" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="filing_business" property="filingBusiness" jdbcType="VARCHAR" />
    <result column="business_scope" property="businessScope" jdbcType="LONGVARCHAR" />
    <result column="unit_intro" property="unitIntro" jdbcType="LONGVARCHAR" />
    <result column="coordinate" property="coordinate" jdbcType="LONGVARCHAR" />
  </resultMap>

  <select id="qureyMapping_unit" parameterType="Mapping_unit" resultType="Mapping_unit">
    select id, create_time, modify_time, memo, unit_name, register_address, register_time,
    oa, corporation, linkman, owned_district, register_fund, social_credit_code, qualification_level,
    phone, contact_way, used_name, register_address_lon, register_address_lat, register_address_postcode,
    oa_postcode, oa_area, establish_time, mobile_phone, fax_num, email, surveying_num,
    staff_num, unit_nature, belong_industry, certificate_code, certificate_send_date,
    company_type, stock_details, joint_venture, joint_ch_p, joint_ratify_code, competent_depart,
    first_qualification_level, first_qualification_date, qualification_process, organization_code,
    unit_type, user_id, audit_status, unit_code, unit_status, synchronization_status,
    score, filing_business, business_scope, unit_intro, coordinate
    from t_mapping_unit
    where user_id=#{userId}
  </select>
  <select id="fuzzyUnitName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT id, unit_name, owned_district, qualification_level, register_address
    FROM t_mapping_unit
    <where>
      1=1
      <if test="unitName != null and unitName != '' " >
        AND unit_name like CONCAT('%', CONCAT(#{unitName, jdbcType=VARCHAR},'%'))
      </if>
      <if test="ownedDistrict != null and ownedDistrict != '' ">
        AND owned_district=#{ownedDistrict, jdbcType=VARCHAR}
      </if>
      <if test="qualificationLevel != null and qualificationLevel != '' ">
        AND qualification_level=#{qualificationLevel, jdbcType=VARCHAR}
      </if>
    </where>
    ORDER BY id ASC
  </select>

  <select id="selectUpdateMappingUnit" parameterType="Mapping_unit"  resultType="Mapping_unit">
    select  unit_name, register_address, register_time,
    oa, corporation, linkman, owned_district, register_fund, social_credit_code, qualification_level,
    phone, contact_way, used_name, register_address_lon, register_address_lat, register_address_postcode,
    oa_postcode, oa_area, establish_time, mobile_phone, fax_num, email, surveying_num,
    staff_num, unit_nature, belong_industry, certificate_code, certificate_send_date,
    company_type, stock_details, joint_venture, joint_ch_p, joint_ratify_code, competent_depart,
    first_qualification_level, first_qualification_date, qualification_process, organization_code,
    unit_type, unit_code,
    filing_business, business_scope, unit_intro
    from t_mapping_unit
    where user_id=#{userId}
  </select>

  <update id="updateMappingUnit" parameterType="Mapping_unit" >
    update t_mapping_unit
    set modify_time = #{modifyTime,jdbcType=VARCHAR},
      unit_name = #{unitName,jdbcType=VARCHAR},
      register_address = #{registerAddress,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=VARCHAR},
      oa = #{oa,jdbcType=VARCHAR},
      corporation = #{corporation,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      owned_district = #{ownedDistrict,jdbcType=VARCHAR},
      register_fund = #{registerFund,jdbcType=DOUBLE},
      social_credit_code = #{socialCreditCode,jdbcType=VARCHAR},
      qualification_level = #{qualificationLevel,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      contact_way = #{contactWay,jdbcType=VARCHAR},
      used_name = #{usedName,jdbcType=VARCHAR},
      register_address_lon = #{registerAddressLon,jdbcType=VARCHAR},
      register_address_lat = #{registerAddressLat,jdbcType=VARCHAR},
      register_address_postcode = #{registerAddressPostcode,jdbcType=VARCHAR},
      oa_postcode = #{oaPostcode,jdbcType=VARCHAR},
      oa_area = #{oaArea,jdbcType=DOUBLE},
      establish_time = #{establishTime,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      fax_num = #{faxNum,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      surveying_num = #{surveyingNum,jdbcType=INTEGER},
      staff_num = #{staffNum,jdbcType=INTEGER},
      unit_nature = #{unitNature,jdbcType=VARCHAR},
      belong_industry = #{belongIndustry,jdbcType=VARCHAR},
      certificate_code = #{certificateCode,jdbcType=VARCHAR},
      certificate_send_date = #{certificateSendDate,jdbcType=VARCHAR},
      company_type = #{companyType,jdbcType=VARCHAR},
      stock_details = #{stockDetails,jdbcType=VARCHAR},
      joint_venture = #{jointVenture,jdbcType=VARCHAR},
      joint_ch_p = #{jointChP,jdbcType=INTEGER},
      joint_ratify_code = #{jointRatifyCode,jdbcType=VARCHAR},
      competent_depart = #{competentDepart,jdbcType=VARCHAR},
      first_qualification_level = #{firstQualificationLevel,jdbcType=VARCHAR},
      first_qualification_date = #{firstQualificationDate,jdbcType=VARCHAR},
      qualification_process = #{qualificationProcess,jdbcType=VARCHAR},
      organization_code = #{organizationCode,jdbcType=VARCHAR},
      unit_type = #{unitType,jdbcType=VARCHAR},
      unit_code = #{unitCode,jdbcType=VARCHAR},
      filing_business = #{filingBusiness,jdbcType=VARCHAR},
      business_scope = #{businessScope,jdbcType=LONGVARCHAR},
      unit_intro = #{unitIntro,jdbcType=LONGVARCHAR}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>

</mapper>